<!DOCTYPE html>

<html>
    <head>
        <title> Django Project </title>
        <h1> Isis prediction </h1>
        {% if result %}
        <h2> Flower you're trying to classify is {{ result }} </h2>
        {% endif %}

        <form action = '' method = 'POST'>
            {% csrf_token %}   <!--while using post django application have to give this information POST -->

            Sepal Length: <input type ="text" name="sepallength" required> <br>
            Sepal Width: <input type ="text" name="sepalwidth" required> <br>
            Petal Length: <input type ="text" name="petallength" required> <br>
            Petal Width: <input type ="text" name="petalwidth" required> <br>

            <input type="submit">
        </form>

       
    </head>
</html>